model/
source/embeddings.pickle
source/test-submit.txt
# Created by https://www.toptal.com/developers/gitignore/api/pytorch
# Edit at https://www.toptal.com/developers/gitignore?templates=pytorch

#!! ERROR: pytorch is undefined. Use list command to see defined gitignore types !!#

# End of https://www.toptal.com/developers/gitignore/api/pytorch
